body {
    background-color: rgb(24, 23, 23);
}


.navbar ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: rgb(24, 23, 23);
}

.navbar ul li {
    display: inline;
    

}

.navbar ul li a {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(238, 221, 221);
    background-color: rgb(24, 23, 23);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.navbar ul li a:hover{
    color: rgb(24, 23, 23);
    background-color: rgb(238, 221, 221);
}

.navbar {
    padding: 10px 0;
    background-color: rgb(24, 23, 23);
}                                       




h1,p {
    color: rgb(238, 221, 221);
}

p {
    font-family: sans-serif;
}


.car1 h1, .car2 h1, .car3 h1, .text h1, .text2 h1 {
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
}

.car1 {
    display: inline-block;
    width: 45%;
    margin-top: 10px;

}

.car2 {
    display: inline-block;
    width: 45%;
    margin-left: 100px;
}

img {
    width: 500px;
}


.car3 {
    display: inline-block;
    width: 45%;
    margin-left: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.miura {
    display: inline-block;
}

.veneno {
    display:inline-block ;
    margin-top: 100px;
}

.text2 {
    display: inline-block;
    width: 45%;
    margin-left: 150px;
}



.text {
    display: inline-block;
    width: 45%;
    
}

.image {
    display: inline-block;
    margin-left: 200px;
    width: 500px;
}

.box-foot {
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    padding-top: 30px;
}

.foot-list ul li a {
    color: white;
    text-decoration: none;
}

.foot-list ul {
    list-style-type: none;
}

.foot-list {
    display: inline-block;
    width: 33%;
    font-size: large;
}

.foot-last p {
    display: inline-block;
    width: 49%;

}

.foot-text2 {
    text-align: right;
}

.foot-last {
    background-color: rgb(0, 0, 0);
}
